*{
  margin: 10;
  padding: 0;
  border: 0;
}

.container {
  border: 6px solid burlywood;
  height: 95vh;
  display: grid;
}

.nav {
  border: 10px solid red;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

