*{
  margin: 10;
  padding: 0;
  border: 0;
}

.container {
  border: 6px solid burlywood;
  height: 95vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 200px 1fr;
}

.nav {
  border: 7px solid rgb(64, 0, 255);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.todoList {
  border: 7px solid rgb(59, 144, 88);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  position: relative;
}

.todo {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label {
  font-size: 30px;
}

input {
  border: 3px solid black;
  font-size: large;
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

form {
  display: none;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: coral;
  width: 100px;
  cursor: pointer;
  height: 60px;
  border-radius: 20%;
  margin-left: 30px;
}